$colorBackHeader: #144379; // sieanna
$colorBackFooter: lighten($color: $colorBackHeader, $amount: 25);
$colorBackMain: #c9cccf; //green

$colorLink: snow;

$colorBackAccent: teal;
$colorAccent: cornsilk; 
